@charset "uft-8";

#wrap{}

#header{width:100%; height:103px; 
            position:absolute; top:0; left:0; z-index:300; transition:all 0.3s;}
#headerIn{width:1180px; height:82px;
              margin:0 auto; position:relative;}

.logo{width:140px; height:53px; padding-top:25px;}
.logo a{display:block; text-indent:-9999px; height:53px;
         background-image:url(../img/logo.png);
         background-repeat:no-repeat;
         background-size:140px auto;
            }

.gnb{width:563px;
      position:absolute; top:42.5px; left:345px;
        }

.gnb h2{display:none;}

.gnb .d1{float:left; float:left; margin-right:40px;text-transform:uppercase;
            text-align:center;}
.gnb li:last-child{margin-right:0;}
.gnb .d1 .m{color:#fff; font-size:18px;
                position:relative;}
.gnb .d1 .m:after{content:""; display:block; width:0%; height:1px;
                     background:#fff; 
                     position:absolute; bottom:0; left:0;
                     transition:all 0.4s;}
.gnb .d1:hover .m:after{width:100%;}

.gnb .d1 .sub{padding-top:18px; position:relative;}
.gnb .d1 .sub ul{padding:10px 0; width:150px; background:rgb(255, 255, 255,0.7); overflow:hidden; opacity:0;
                    border-radius:2px; box-sizing: border-box; transition: 0.2s ease-in-out;
                    position:absolute; top:20px; left:50%;margin-left:-70px;}
.gnb .d1:hover .sub ul{opacity:1;}
.gnb .d1 .sub li{width:100%;}
.gnb .d1 .sub li a{display:block; font-weight:400; text-align:center;
                       color:#676767; font-size:15px; line-height:30px;
                       padding:5px 0; height:30px; 
                                             }
.gnb .d1 .sub li:hover{background:rgb(108, 199, 244,0.7);}
.gnb .d1 .sub li:hover a{color:#fff}


.gnb .d1:hover .sub{display:block;}


/*메인슬라이더 영역*/
#mainSlider{position:relative; height:891px;}

.simg{width:100%; height:891px; text-indent:-9999px;
        background:url(../img/mainSlider.jpg) no-repeat center 0;}
.pager{position:absolute; bottom:18px; left:50%; transform:translateX(-50%);}
.pager li{float:left; margin:0 6px;}
.pager li a{display:block; width:55px; height:8px; text-indent:-9999px;
             background:rgb(255,255,255,0.6); }
.pager .on a{width:60px;background:rgba(196, 239, 255,1);}

/*컨테이너영역*/
#container{}

/*공통영역*/
#container section{padding-top:98px;}
#container h3{text-transform: uppercase; text-align: center; color:#363636; font-size:40px; line-height:40px;
                   position:relative;}
#container h3:after{content:""; display:block; width:50px; height:1px; background:#4b4b4b;
                         position:absolute; bottom:-14px; left:50%; 
                         transform:translateX(-50%);}

.subtitle{font-size:18px; color:#959595; text-align:center; font-weight:500;}

/*section1 베스트 상품*/
.best{background:#fff;}

.best h3{margin-bottom:114px;}

.best .product{overflow:hidden; position:relative;}
.best .product ul{ transform:translateX(-165px);
                      position:relative; 
                      display:flex; flex-flow: row nowrap; 
                      justify-content:flex-start; align-items:center;}

.best .product li{float:left; margin:0 57px;}
.best .product li:first-child{margin-left:0;}
.best .product li .photo{width:297px; height:297px; border-radius:50%; overflow:hidden;
                             position:relative;}


.best .product li .photo img{width:100%; height:100%;}
/*.best .product li .photo:after{content:""; display:block; width:100%; height:100%; 
                                    background:rgba(0,0,0,.6); position:absolute; top:0; left:0; z-index:1;}*/

.best .product .on .photo{width:590px; height:590px; margin-bottom:40px;}

.best .product li .photo:after{content:""; display:block; width:100%; height:100%; background:rgba(0,0,0,0.6);
                                     position:absolute;top:0; left:0; transition:all 0.4s}
.best .product .on .photo:after{background:rgba(255,255,255,0);}
.best .product .on .photo:hover:after{background:rgba(255,255,255,.4);}

.best .product .on .text{text-align:center;}
.best .product .on .text .name{text-transform: uppercase; color:#00c4e1; font-size:30px; line-height:1em;
                                        margin-bottom:12px;}
.best .product .on .text .info{color:#474d50; font-size:16px; line-height:22px; font-weight:500;}

.best .product a{display:block; width:60px; height:60px; background:#f0f0f0; 
                text-indent:-9999px;border-radius:50%;
                background-repeat:no-repeat; 
                background-position:center ; 
                position:absolute; bottom:0;
                transition:all 0.6s;}
.best .product a:hover{ background-color:#69cdff;}
.best .product .prev{background-image:url(../img/btn_prev.png); 
                          left:50%; margin-left:-257px;}
.best .product .next{background-image:url(../img/btn_next.png);
                        right:50%; margin-right:-257px}


/*section2 유형별 제품*/
.type{}

.tit{ margin-bottom:33px;}
.typeList{width:562px;margin:0 auto;}
.typeList li{font-size:20px; height:25px; color:#555555; float:left;
                    margin:0 5px;}

.typeList li a{display:block; padding:10px 36px; border-radius:30px; transition:all 0.3s;}
.typeList li:hover a{background:#69cdff; color:#fff; border-radius:30px;}

.typeList .on a{color:#fff;background:#69cdff; border-radius:30px;}

/*실제 상품 컨테이너 영역*/
.section3_inner{background:#fff; 
                    display:flex;
                    flex-flow:row nowrap; 
                    justify-content: flex-start; 
                    align-items:flex-start;
                    padding-top:89px;
                    }
 .section3_inner .infoBox{width: 41.25%;/*background:#fff9ef; */
                                text-align:center; box-sizing: border-box;
                                padding:85px 0 150px 0; }
 .section3_inner .infoBox .typeName{font-family: 'Sora', sans-serif;font-size:35px; line-height:35px; 
                                             color:#5fccff; margin-bottom:62px;}
 .section3_inner .infoBox p{font-size:20px;line-height:30px;color:#555; margin-bottom:40px;}
 .section3_inner .infoBox .more{display:inline-block; font-size:18px; line-height:51px; font-size:500; color:#5fccff; 
                                         width:151px; height:51px; background:rgb(95, 204, 255,0); border-radius:30px; 
                                         position:relative; transition:all 0.4s;
                                         }
.section3_inner .infoBox .more:hover{background:rgb(95, 204, 255,1); color:#fff;}

.section3_inner .sliderBox{width:58.6979%;}
/* 57.03125%;*/

/*상품영역*/
.prodArea{ overflow:hidden; margin-bottom:61px;}
.prodArea .prodList{display: flex; width: calc(100% + 200px);
                            flex-flow: row nowrap;
                            justify-content: center;
                            align-items:center;
}
.prodArea .prodList li{width:700px; padding-right:16px; /*box-sizing:border-box;*/ position:relative;
                            /*width:21.25vw  값을 변경해도 li 크기가 커지지 않음 *수정해야함**/;}

.prodArea .prodList li a{display:block;}
.prodArea .prodList li a img{ width:100%; height:auto;}
.prodArea .prodList li:nth-child(1) a{}
.prodArea .prodList li:nth-child(2) a{}
.prodArea .prodList li:nth-child(3) a{}

.prodArea .prodList li span{display:block; width:75px; height:75px; text-indent:-9999px;
                                    background-image:url(../img/icon_search.png);
                                    background-repeat:no-repeat;
                                    background-size:auto 75px;
                                    position:absolute; top:65%; left:50%;
                                     transform:translate(-37.5px,-37.5px); opacity:0;
                                    transition:all 0.4s;}
.prodArea .prodList li:hover span{opacity:1; top:50%}

.dragArea{display:block; text-indent:-9999px; width:930px; height:4px; background:#c7c7c7;
             position:relative;
                }
.dragArea:after{content:""; display:block; width:310px; height:4px; background:#576b74;
                    position:absolute; bottom:0; left:0; }


/*sectiont3 동영상*/
.movie{/*background:#bbb;*/}
.youtube{display:block; width:1180px; height:720px; left:0; right:0; 
            margin:50px auto 110px; overflow:hidden;}



/*section4 배너 */
.banner{width:100%; height:474px; 
    background:url(../img/bg_fix.jpg) no-repeat center 0;
    background-attachment:fixed;
    position:relative;
    margin-bottom:188px;}
.banner .inner{width:1180px; margin:0 auto;
                  position:absolute; top:252px; left:370px;}

.banner .inner>div{width:50%; height:430px;float:left;}
.banner .inner .photo{}
.banner .inner .photo img{width:100%; height:100%;}

.banner .inner .text{background:#fff; width:429px; height:311px; padding:64px 107px 58px 54px;
                        }

.banner .inner .text h4{font-size:22px; line-height:30px; margin-bottom:54px; color:#4a4a4a;
                             font-weight:600;}
.banner .inner .text p{font-size:17px; line-height:25px; margin-bottom:51px; color:#838383; font-weight:400;}
.banner .inner .text a{display:block; border:1px solid #ddd; text-align:center;
                            width:220px; height:44px;font-size:17px; color:#555;
                            padding:12px 35px;line-height:44px; font-weight:600;
                            transition:all 0.4s;}
.banner .inner .text a:hover{background:#f6f6f6;}
/*.banner .inner .text toOsse span{display:block;}*/

/*cont 4 5 더보기 버튼 공통값*/
.viewmore{display:block; width:106px; height:16px; 
             font-size:16px; font-weight:500;
             position:absolute;right:34px; top:-53px; color:#1f1f1f;
             transition:all 0.3s ;}
.viewmore:hover{color:#909090; /*right:24px;*/}

.viewmore span{display:inline-block;width:13px; height:2px; background:#686868;
                         margin-left:5px; margin-bottom:3px ; position:relative; }
.viewmore span:after{content:""; display:inline-block; width:6px; height:1.5px; background:#686868;
                        position:absolute; top:-2px; right:-1px; transform:rotate(45deg);}
.viewmore span:hover{}


/*cont4 미디어*/
.mediea{background:#fff;}
.mediea .inner{position:relative; width:1180px; margin:70px auto;}

.mediea h3{margin-bottom:48px;}

.mediea .newsList{width:743px; margin:0 auto;}

.mediea li{transition:all 0.3s; position:relative;}
.mediea li:after{content:""; display:block; width:743px; height:1px; background:#e8e8e8; transition:all 0.3s;}

.mediea li:hover{z-index:1; transform:scale(1.01); box-shadow:3px 3px 10px rgba(0,0,0,0.15);}
.mediea li:hover:after{opacity:0;}

.mediea li a{display:block; width:713px;
             padding:15px;}

.mediea li a:after{content:""; display:block; clear:both;}
.mediea li a>div{float:left;}

.mediea li .photo{width:137px; height:101px; overflow:hidden;}
.mediea li .photo img{width:100%; height:auto;}

.mediea li .text{color:#355f75; background:#fff; padding:16px 0 24px 52px;}
.mediea li .text .newsTit{font-size:17px; margin-bottom:26px; font-weight:600;}
.mediea li .text .date{font-size:14px; color:#999fa2; font-weight:600;} 


/*cont5 리뷰*/
.review{background:#e1f5ff; padding-bottom:108px;}
.review .inner{width:1180px;height:391px; margin:43px auto 0; position:relative;}

.reviewList{width:1180px;}
.reviewList li{width:280px; height:391px; background:#fff; 
                transition: all 0.3s;}
.reviewList li .userText>p{transition:all 0.3s;}

.reviewList li .userPhoto{width:280px; height:280px;position:relative; transition:all 0.3s;}
.reviewList li .userPhoto:after{transition:all 0.3s;}
.reviewList li:hover .userPhoto:after{
                            content:""; display:block;
                            width:280px; height:280px; background:rgba(255,255,255,0.3);
                            position:absolute; top:0; left:0;}

.reviewList li .userPhoto img{width:100%; height:auto;}

.reviewList li .userText{width:280px; height:111px; box-sizing: border-box;font-size:15px; padding:22px 18px;
            transition:all 0.3s;}
.userText .userId{color:#626262; font-weight:400; margin-bottom:13px;}
.userText .userInfo{font-weight:500; color:#292929; font-weight:18px;}

.reviewList li:hover .userText{background:#54c3fa;}
.reviewList li:hover .userText>p{color:#fff;}

/*좌우버튼*/
.review .bx-controls-direction{position:absolute; left:0; top:50%; transform:translateY(-50%); width:100%;}

.review .bx-controls-direction a{display:block; width:19px; height:30px; text-indent:-9999px; 
                    background-repeat:no-repeat;}
.review .bx-controls-direction .bx-prev{background-image:url(../img/review_btn_prev.png);
                                                 position:absolute; left:-60px; top:0;}
.review .bx-controls-direction .bx-next{background-image:url(../img/review_btn_next.png);
                                                 position:absolute; right:-60px; top:0;}

/*cont7 인스타*/
.intragram{background:#fff;}
.intragram .inner{width:1180px; margin:48px auto 55px; position:relative;}
.instaList{}
.instaList li{width:236px; height:236px; float:left; position:relative;}
.instaList li a img{width:100%; height:100%;}

.instaList li .over{width:100%; height:132px; background:rgba(54, 107, 133,0.7);
                    position:absolute; top:0; left:0; padding-top:104px; opacity:0;
                    transition:all 0.3s;} 
.instaList li .over:hover{opacity:1;}


.instaList li .over .like{text-align:center; color:#fff; font-size:15px;margin-left:} 
.over .like span{display:inline-block; text-indent:-9999px;width:25px; height:21px;
                     background-image:url(../img/icon_heart.png); 
                     background-repeat:no-repeat;
                     background-size:25px auto;
                     background-position:center;
                     margin-right:5px;
                        } 
/*좌우버튼 공통값*/
.intragram .btn a{display:block; width:29px; height:60px; background-color:rgb(84, 195, 250,0.6);
                    text-indent:-9999px; position:absolute; top:50%; margin-top:-30px;
                    background-repeat:no-repeat; transition:all 0.3s;
                    }
/*좌우버튼 하버시*/
.intragram .btn:hover a{background-color:rgb(84, 195, 250,1);}
/*좌우버튼 개별값*/
.intragram .btn .prev{border-radius:0 30px 30px 0; left:0;
                         box-shadow: 2px 0 5px rgb(0 0 0 / 30%);
                        background-image:url(../img/icon_btn_next.png);    
                        background-position:8px center;    
                        }

.intragram .btn .next{border-radius:30px 0 0 30px; right:0;
                          box-shadow: -2px 0 5px rgb(0 0 0 / 30%);
                        background-image:url(../img/icon_btn_prev.png);
                        background-position:10px center;   
                        }

/*푸터영역*/
#footer{width:100%;background:#69cdff;}
.finner{width:1080px; margin:0 auto; padding-top:78px;
        position:relative;}

.flogo{display:block; width:150px; height:57px; text-indent:-9999px;
        background-image:url(../img/logo.png);
        background-repeat:no-repeat; 
        background-size:150px auto; 
        margin-bottom:24px;
        }

/*f메뉴영역*/
.fmenu{}
.fmenu li{margin-bottom:22px; font-weight:600;}
.fmenu li a{display:block; color:#d3f0ff; font-size:16px;}


/*기업사이트로*/
.goTosite{position:absolute; top:101px; right:72px; }
.goTosite>div{width:300px;}


.famliySite{margin-bottom:66px;}

.siteName{font-family: 'Sora', sans-serif; width:127px; 
            color:#eef9ff; text-align:right; margin-right:44px;
            font-size:20px; float:left;
            }

.siteLink{ float:right;}

/*.siteLink ul li{position:relative;}*/

/*사이트로고 공통값*/
.siteLogo{display:block; background-repeat:no-repeat; transition:all 0.1s;
                        text-indent:-9999px; position:absolute; right:0;}

/*로고개별값*/
.osse{width:109px; height:37px; background-image:url(../img/f_osse.png);}
.gmarket{width:136px; height:35px; background-image:url(../img/gmarket.png);}
.auction{width:137px; height:21px; background-image:url(../img/auction.png); top:60px;}

/*로고 하버시*/
.osse:hover{background-image:url(../img/f_osse_hover.png);}
.auction:hover{background-image:url(../img/auction_hover.png);}
.gmarket:hover{background-image:url(../img/gmarket_hover.png);}

/*사이트 화살표 공통값*/
.toSite{display:block; width:44px; height:44px; text-indent:-9999px;
                    background-color: #7d7d7d; border-radius:40px; 
                    position:absolute; top:0; right:-72px;
                    background-image:url(../img/icon_arrow.png);
                    background-repeat:no-repeat;
                    background-position:center;
                    transition:all 0.3s;
                    }
.toSite:hover{background-color:#222021;}

.onlineShop{ width:400px;position:relative;}
.gmarketLink{margin-bottom:50px;}
.gmarketLink .toSite{top:60px;}


/*sns 영역*/
.fsns{width:360px; margin:47px auto 21px;}
.fsns li{float:left; width:62px; height:62px; text-indent:-9999px; margin:0 14px;
        transition:all 0.3s;}
.fsns a{display:block; width:100%; height:100%;}
.fsns li:nth-child(1){background-image:url(../img/sns1.png);}
.fsns li:nth-child(2){background-image:url(../img/sns2.png);}
.fsns li:nth-child(3){background-image:url(../img/sns3.png);}
.fsns li:nth-child(4){background-image:url(../img/sns4.png);}

/*카피라이트*/
.copy{font-size:16px; color:#cdeeff;text-align:center;padding-bottom:38px;
        font-family:'Sora', sans-serif;}

/*퀵메뉴 바로가기*/
.quickMenu{position:fixed; bottom:180px; right:322px;}


/*개별값*/
.quickMenu .on{display:block; width: 85px; height: 85px; transform: all .3s ease; 
                    position:relative; font-family:'Sora', sans-serif; color:#fff; /*text-align: center; */}
.quickMenu .on i{width: 85px; height: 85px; border-radius: 50%; text-indent: -9999px;
                background-color:#69cdff;  transition: transform .3s ease; will-change: transform; 
                position:absolute; z-index:3; 
                     }
.quickMenu .on:hover i{transform: scale(1.135);}

.on e{display:block; width:35px; height: 35px; background-color: #111; position: absolute; top:10px; left:50%; transform:translateX(-55%); bottom: 0;
        background:url(../img/ico_shopping_cart.png) no-repeat center / 35px auto ; z-index: 3;}
.on span{position:absolute;line-height: 1em;bottom:8px; left:50%; transform:translateX(-50%);
            z-index: 3;  text-align: center; font-size:12px; }

/* 스토어 바로가기 공통영역 */
.over a{display:block; width:85px; height: 85px; position:relative; color:#fff;}
.over .mall{display:block; width: 85px; height: 85px; border-radius:50%; background: #bde;}
.over e{display:block; width: 35px; height: 35px; background: no-repeat center / 35px auto;
        position: absolute; top:20px; left:50%; transform:translateX(-50%); text-indent: -9999px; }
.over span{position:absolute; bottom: 8px; ; left: 50%;  transform:translateX(-50%);}

/* 개별값 */
.over .G_store i{background-color: #00c51e;}
.over .A_store i{background-color: #db2432;}

.over .G_store e{background-image: url(../img/gmarket_slogo.png)}
.over .A_store e{background-image: url(../img/aution_slogo%20.png)}

.quickMenu .over ul li{position:absolute; transition:all 0.3s;}

.quickMenu .over ul li:nth-child(1){top:0; z-index:2; opacity:0;}
.quickMenu .over ul li:nth-child(2){top:0; z-index:1; opacity:0;}

.quickMenu.open .over ul li:nth-child(1){top:-91px; opacity:1;}
.quickMenu.open .over ul li:nth-child(2){top:-182px; opacity:1;}

